<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <!-- Allow DTC network (inbound and outbound) on MSDTC security settings and add DTC to the firewall. -->
    <Parameter name="sqlConnectionString" value="Server=.;Initial Catalog=TestDB;User=sa;Password=MasterOfPuppets2020;enlist=false" />
    <Parameter name="sqlConnectionStringForDBCreating" value="Server=.;User=sa;Password=MasterOfPuppets2020" />
    <Parameter name="activeMQConnectionURI" value="tcpfaulty://localhost:61616" />
    <!-- Ensure the testDBName is the same as the one specified in sqlConnectionString -->
    <Parameter name="testDBName" value="TestDB" />
  </TestRunParameters>

</RunSettings>